<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem Informasi Akademis Statis</title>
    <link rel="stylesheet" href="styleAkademik.css">
</head>
<body>
    <header>
        <h1>
            SIATIS (Sistem Akademik Statis)
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Akademik</a>
                </li>
                <li>    
                    <a href="#">Biodata</a>
                </li>
                <li>
                    <a href="kemahasiswaan">Kemahasiswaan</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="informasi">
            <div class="biodata">
                <article>
                    <p><%=nim  %></p>
                    <h1><%=nama  %> </h1>
                    <p><%=fakultas %> </p>
                    <p><%=jurusan %> </p>
                    <p><%=prodi  %> </p>
                    <p><%=seleksi  %> </p>
                </article>
            </div>
            <div class="opsi">
                <ul>
                    <li>Kartu Rencana Studi</li>
                    <li>Unggah foto kartu mahasiswa</li>
                </ul>
            </div>
        </div>
        <div class="content">
           <table>
                <tr>
                    <td class="tipe">Nama Lengkap : </td>
                    <td>Rekayasa Marganih</td>
                </tr> 
                <tr>
                    <td class="tipe">Tempat Lahir : </td>
                    <td>Garut</td>
                </tr>
                <tr>
                    <td class="tipe">Tanggal Lahir : </td>
                    <td>20 Februari 2005</td>
                </tr>
                <tr>
                    <td class="tipe">Jenis Kelamin : </td>
                    <td>Laki-Laki</td>
                </tr>
                <tr>
                    <td class="tipe">Domisili : </td>
                    <td>Kota Bekasi</td>
                </tr>
           </table>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>